#heading{
    text-align: center;
    color: blueviolet;
}

.sd{
    text-align: center;
}

#btn{
    margin-left: 400%;
    background-color: coral;
    color: white;
}

#i{
    margin-left: 100px;
}

.sm{
    width:100px;
}

.gap{
    margin-left:80px ;
}

#a
{border: 1px solid black;
    border-radius: 50%;
    height: 295px;
}

#b{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}
#c{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}
#d{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}
#e{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}
#f{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}
#g{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}
#h{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}
#zz{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}
#j{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}
#k{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}

#o{
    border: 1px solid black;
    border-radius: 50%;
    height: 295px;
   
}